#page-heading{
    font-size:6em ;
    margin: 20px 0;
    color: #F0122D;
}
.container{

}
.news-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly; 
}
